.sign_up_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    border: 1px solid rgba(128, 128, 128, 0.75);
    border-radius: 1em;
    gap: 1.5em;
    background-color: rgba(0, 0, 0, 0.35);
    transition: border-color 1.15s ease-in-out;
}

.sign_up_form_container_25 {
    border-bottom-color: rgba(0, 255, 0, 0.75);
}

.sign_up_form_container_50 {
    border-left-color: rgba(0, 255, 0, 0.75);
}

.sign_up_form_container_75 {
    border-right-color: rgba(0, 255, 0, 0.75);
}

.sign_up_form_container_100 {
    border-top-color: rgba(0, 255, 0, 0.75);
}

.signup_form,
.signup_form:focus {
    background-color: transparent !important;
    border-radius: 0 !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    outline: none !important;
    border-color: rgba(255, 255, 255, 0.5) !important;
    box-shadow: none !important;
    caret-color: white !important;
    text-align: center;
    color: rgba(255, 255, 255, 1) !important;
}

.signup_form::placeholder {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 25% !important;
}

.signup_button {
    transition:
        --bs-btn-color 2.5s ease-in-out,
        --bs-btn-border-color 2.5s ease-in-out,
        --bs-btn-active-color 2.5s ease-in-out,
        --bs-btn-active-bg 2.5s ease-in-out;
    width: 100%;
}
