.title {
    align-items: center;
    justify-content: space-between;
    padding: 25px 10%;
    color: blue;
    text-align: center;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    width: 2px;
    height: auto;
}

.about-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 35%;
}