.navbar_container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-around;
}

.navbar_container > a {
  text-decoration: none;
  color: black;
  font-size: 0.95em;
  width: fit-content;
  text-align: center;
  position: relative;
  padding-bottom: 0.5em;
}

.navbar_container > a::after {
  content: "";
  position: absolute;
  border-bottom: 0.1em solid black;
  border-radius: 1em;
  right: 100%;
  bottom: 0.25em;
  left: 0;
  transition: right 0.5s ease-in-out;
}

.navbar_container > a:hover::after {
  right: 0;
}

.active_link {
  pointer-events: none;
  color: skyblue;
  text-decoration: underline;
}
